body{
    position:absolute;
    background-image: url(data/pngtree-asteroid-field-space-combat-with-laser-blasts-image_16740486.jpg);
    background-repeat:no-repeat;
    background-position:center ;
    background-size: cover;
    background-color:rgb(66,66,66);
    height:600px;
    width: 100%;
    padding: 0px;
    
}
button{
    background-color:orange;
    position:absolute;
    left:35vw;
    top:60px;
    padding: 20px 30px; 
    border-radius:7px ;
    border: 2px;
    cursor:pointer;
}
.gamename {
    position:absolute;
    height:150px;
    width:100%;
    top:150px;
    left:0;
    
}
.gamename h1{
    color:white;
    font-size:40px;
    position:absolute;
    left:35vw;
}
.introduce {
    position:absolute;
    top:300px;
}
.introduce h1{
    color:white;
    font-size:30px;
}
.introduce h2{
    color:white;
    font-size:25px;
}
