
.背景{
    
    background-image: url(data/pngtree-asteroid-field-space-combat-with-laser-blasts-image_16740486.jpg);
    background-repeat:no-repeat;
    background-position:center ;
    background-size: cover;
    height:200px;
    width: 100%;
    padding: 0px;
    
}
button{
    background-color:orange;
    position:absolute;
    left:43vw;
    top:150px;
    padding: 20px 30px; 
    border-radius:7px ;
    border: 2px;
    cursor:pointer;
}

.gamename {
    background-color:(66,66,66);
    position:absolute;
    height:200px
    top:100px;
    left:0;
    display:flex;
    flex-decoration:column;
    alien-items:center;
    padding-top:50px;
}
.gamename h1{
    color:white;
    font-size:40px;
}
